<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment3-Mailbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0FA85411BF42A9100C88D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FA85551BF42A9100C88D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FA85601BF42A9100C88D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
